<html>
<head>
<title>Registration</title>
</head>
<body style="background-color:rgba(236, 204, 101, 0.518)">
	<style>
		table{
			background-color:rgba(249, 102, 193, 0.397);
			margin-left:500px;
			margin-top:100px;
			border-style:solid;
			height:500px;
			text-align: center;
		}
		button{
			margin-left:300px;
			border-radius:100px;
		}
	</style>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
<table style="width:500px;">
<tr>
	<td colspan="2"><h1>REGISTRATION</h1></td>
</tr>
<tr>
	<td>Name</td>
	<td><input type="text" name="name"></td>
</tr>
<tr>
	<td>Address</td>
	<td><textarea name="Address"></textarea></td>
</tr>
<tr>
	<td>username</td>
	<td><input type="text" name="username"></td>
</tr>
<tr>
	<td>Password</td>
	<td><input type="password" name="password"></td>
</tr>
<tr>
	
	<td><input type="submit" value="Enter"></td>
	<!-- <td><button type="button" value="button">Register</button></td> -->
</tr>
</table>
</form>
</body>
{% if messages %}
{% for msg in messages %}
<script>alert("{{msg}}")</script>
{% endfor %}
{% endif %}
</html>